
/* -------------------------
    Super: 
---------------------------*/

*, ::after, ::before {

    margin: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: black;
 
}

div {
    border-radius: 7px;
}

input {
    font-size: 1rem;
    background-color: rgb(209, 209, 209);
    border: none;
    padding: 0.25rem;
    border-radius: 6px;
}

/* -------------------------
    Start of App Styling: 
---------------------------*/

/* Container stlyes for todo app */
#app {
    display: flex;
    flex-direction: column;

    margin-top: 5vh;
    padding: 1rem;
    width: 80vw;
    min-height: 90vh;
    
    background-color: rgb(82, 82, 82);
    color: whitesmoke;
}

/* Todo App title*/
#app__title {
    text-align: center;
    padding: 1rem 0;
   /* position: relative;*/
}

#controls {
    display: flex;
    float: right;
}

.control__button {
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 2px;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

/* Tasks area */
#app__main {
    background-color: rgb(51, 51, 51);
    padding: 1rem;
    min-height: 75vh;
}

/* Ul tag and all tasks inside */
#taskList {
    border-radius: 7px;
    /*padding: 0.5rem;*/
    list-style: none;
    
}


/* -------------------------
    Operational Styling: 
---------------------------*/

.task {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    font-size: 1rem;
    /*background-color: aliceblue;*/
    margin: 1rem 0;
    background-color: rgb(112, 112, 112)
}

.task:hover {
    color: rgb(75, 212, 212);
}

.task span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task button {
    padding: 0.75rem;
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
    border-radius: 7px;
    border: none;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
}

#submit {
    background-color: rgb(75, 212, 212);
}

/*---------------------------------------
    Conditional Styling
---------------------------------------*/

.activeTask {
    color: rgb(255, 255, 255);
}

.completeTask {
    color: rgb(90, 153, 204);
    text-decoration:line-through;
}


.deleteBtn:hover {
    color: rgb(221, 107, 107);
}

.updateBtn:hover {
    color: rgb(89, 201, 108);
}

#addModalBtn {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    background-color: rgb(75, 212, 212);
    color: rgb(63, 63, 63);
    border: none;    
    cursor: pointer;
}

#addModalBtn:hover {
    background-color: aliceblue;
}