/* -----------------------------------------
    Two main components / App styling
-------------------------------------------*/

.shadow {
    background-color: rgba(0, 0, 0, 0.753);
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    visibility: hidden; /*Modal functin changes this*/
}

.modal {
    margin: 0;
    background-color: rgb(44, 44, 44);
    display: flex;
    visibility: hidden;/*Modal functin changes this*/
 
    position: absolute;
    top: 30%;
    left: auto;

    min-width: 30vw;
    min-height: 30vh;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}


/*------------------------------------------
    Aesthetics and component styling
------------------------------------------*/

#inputForm {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(48, 48, 48);
    padding: 1rem;
}
#inputForm input {
    display: block;
    height: 100%;
    border-radius: 6px;
    margin: 0.5rem 0;
}

#modal-title {
    color: whitesmoke;
    text-align: center;
}